name: build_mac

on:
  release:
    types: [published]

jobs:
  build:

    runs-on: macos-latest

    strategy:
      matrix:
        node-version: [10.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm ci
    - run: npm run pack:prepare
    - run: npm run pack:macm1:publish
      env:
        GH_TOKEN: ${{secrets.GH_TOKEN}}
        CSC_LINK: ${{secrets.CSC_LINK}}
        CSC_KEY_PASSWORD: ${{secrets.CSC_KEY_PASSWORD}}
    - run: npm run pack:mac:publish
      env:
        GH_TOKEN: ${{secrets.GH_TOKEN}}
        CSC_LINK: ${{secrets.CSC_LINK}}
        CSC_KEY_PASSWORD: ${{secrets.CSC_KEY_PASSWORD}}
